<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url img %>)">
  <%= category %>
</div>

<!-- <div>
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="..." class="img-thumbnail rounded">
  <h3 class="ml-2 mt-1">Category</h3>
</div>
 -->
