<div class="card-kit border">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"  />
  <div class="card-body">
    <div>
      <h5 class="card-title mb-1"><%= name %></h5>
      <p class="card-text overflow-ellipsis card-description"><%= description %></p>
    </div>
    <div class="d-flex justify-content-between mt-3">
      <p class="card-text card-address"><i class="fas fa-map-marker-alt"></i> A 1.3km</p>
      <p class="card-text card-price">$300</p>
    </div>
  </div>
</div>

