<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="rounded" />
  <div class="d-flex flex-column p-3 w-100">
    <h2>Bife de chorizo y panzanella</h2>
    <p>Kansas Palermo</p>
    <span class="d-flex justify-content-between align-items-center mt-3">x1 <span class="p-2" >70</span></span>
  </div>
</div>
