// Define variables for your color scheme
$blue: #2F3567;
$green: #73B948;
$black: #000000;
$light-gray: #E5E5E5;
$yellow: #F9A533;
$facebook: #3B5998;
$google: #DB4437;

// For example:
$red: #FD1015;
$orange: #E67E22;
$gray: #0E0000;
