.form-container{
  width: 80%;
  margin: 0 auto;
}

body{
  background-color: white !important;
}


@media( max-width: 768px){
  .home-card{
    display: block !important;
    .card-category{
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
  }
}


@media( max-width: 768px){
  .w-sm-100 {
    width: 100%;
  }
}
