.kitname {
    font-size: 32px;
}

@media(max-width: 575px) {
  .kitnamemob {
    font-size: 10px;
  }
}

.kitrest {
    font-size: 17px;
}

@media(max-width: 575px) {
  .kitrest {
    font-size: 10px;
  }
}

.kitrat {
    font-size: 17px;
}

@media(max-width: 575px) {
  .kitrat {
    font-size: 10px;
  }
}

.kittime {
    font-size: 17px;
}

@media(max-width: 575px) {
  .kittime {
    font-size: 10px;
  }
}

.kitdescr {
    font-size: 17px;
}

@media(max-width: 575px) {
  .kitdescr {
    font-size: 10px;
  }
}



.recomendation-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

}

.card-kit-kit-show{
  position: relative;
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 5px lightgrey;
  margin-top: 20px;
  &:hover{
  box-shadow: 1px 1px 5px grey;
  }
  a{
    text-decoration: none;
  }
  img {
    width: 100%;
    height: 60%;
    object-fit: cover;

  }
}
@media(max-width: 575px) {
  #ytplayer {
    max-height: 200px;

  }
}
