.kitname {
  font-size: 32px;
}
.kitrest{
  font-size: 18px;
}

.recomendation-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

}

.product-kit {
    position: relative;
  p {
    margin: 0;
    position: absolute;
    top: 8px;
    right: 0px;
    border-radius: 0px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    background-color: white;
    padding: 2px 8px;
    color: $primary !important;
    font-weight: bold;
    i {
      color: $primary !important;
    }
  }
}

.card-kit-kit-show{
  position: relative;
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 5px lightgrey;
  margin-top: 20px;
  &:hover{
    box-shadow: 1px 1px 5px grey;
  }
  a{
    text-decoration: none;
  }
  div > img {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }
}
@media(max-width: 575px) {
  #ytplayer {
    max-height: 200px;
  }
  .kitnamemob {
    font-size: 10px;
  }

  .recomendation-cards{
    grid-template-columns: 1fr;
  }

  .volveria-cocinarlo {
    font-size: 13px;
  }
  .kitdescr{
    font-size: 14px;
  }
  .kitrest{
    margin-top: 20px;
    font-size: 13px;
  }
  .kittime{
    width: 180px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    border-radius: 3px;
    border-color: rgba(0,0,0,0.1);
  }
 .ingredients-title{
  margin-top: 10px;
 }
 .tambien-title{
  margin-top: 14px;
 }
}
