  <div class="kit-container">
    <div class="description-container">
      <h1>Ribs</h1>
      <h2>Un producto de Kansas Pilar</h2>
       <img class="d-md-none" src="https://previews.123rf.com/images/elenarolau/elenarolau1611/elenarolau161100052/67679926-invierno-fondo-de-la-acuarela-cuadrada-con-el-chapoteo-de-la-nieve-que-cae-la-textura-%C3%A1spera-de-spray-.jpg" alt="imagen del plato de comida">
      <p>El 95% volveria a cocinarlo </p>
      <div class="time-preparation">
       <p > <i class="far fa-clock"></i> 60 min</p>
       <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-user-alt"></i> Para
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">1</a>
    <a class="dropdown-item" href="#">2</a>
    <a class="dropdown-item" href="#">3</a>
  </div>
</div>
      </div>
      <h4> Junto a Kansas te traemos esta receta diseñada para personas con horarios ajustados. Para esta “Panzanella italiana” (o ensalada de tostines), tostarás los cubos de pan en la sartén hasta que estén dorados y crujientes, luego los mezclarás con otros ingredientes clásicos como tomates y pepinos para servir junto a un Ojo de Bife a gusto.</h4>
    </div>
    <div class="image-container d-none d-md-block">
      <img src="https://previews.123rf.com/images/elenarolau/elenarolau1611/elenarolau161100052/67679926-invierno-fondo-de-la-acuarela-cuadrada-con-el-chapoteo-de-la-nieve-que-cae-la-textura-%C3%A1spera-de-spray-.jpg" alt="imagen del plato de comida">
    </div>
  </div>
  <div class="carrousel">
  </div>
  <div class="kit-bottom">
    <div class="review-container">
    </div>
    <div class="recomendation-cards">
    </div>
  </div>
</div>
