<div class="card-review">

  <div class="review-img">
    <img src="http://lajamboteca.es/wp-content/uploads/2018/05/comida-casera.jpg" alt="imagen review" class="w-100 d-none d-md-block" >
  </div>
  <div class="review-content">
    <div class="review-user d-flex align-items-center">
       <img src="http://liberterre.fr/metahistoire/espagnol/neytirisaldana.jpg" alt="">
      <p class="user-mail" style="font-size: 14px;">andes@gmail.com</p>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste magni, totam. Incidunt, dignissimos, nesciunt. Facilis laboriosam nostrum aut aperiam minus odit? Harum sunt officia veniam repudiandae hic in adipisci, optio.</p>
    <div class="star-rating" style="text-align: right;">
    <%= render 'shared/stars', kit: @kit %>
    </div>
  </div>
</div>



