<div class="footer text-center mt-5 " >

  <div class="footer-links">
    <!-- <a href="https://fb.me/easychefarg"><i class="fab fa-instagram mr-3" style="font-size: 30px";></i></a> -->
    <a href="https://fb.me/easychefarg"><i class="fab fa-facebook" style="font-size: 30px";></i></a>
  </div>
  <div class="footer-copyright">
    Powered by EasyChef © 2019 Copyright.
  </div>
</div>
