<div class="footer text-center">
  <div class="footer-copyright">
    0800-4323-3412
  </div>
  <div class="footer-copyright">
  <ul class="list-inline">
    <li class="list-inline-item">Suppliers</li>
    <li class="list-inline-item">Afiliados</li>
    <li class="list-inline-item">Seguridad e higiene</li>
    <li class="list-inline-item">Nuestro equipo</li>
    <li class="list-inline-item">FAQ</li>
  </ul>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    Powered by EasyChef © 2019 Copyright.
  </div>
</div>
