<html>

<head>
    <title>EasyCheff</title>
    <meta charset="utf-8">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .subscribe_footer a {
          color: #303336;
        }

        .roundedLogo {
            background: url('');
            border: solid 1px #ffffff00;
            height: 180px;
            width: 180px;
            background-position: center center;
            border-radius: 50%;
        }

        @media only screen and (max-width: 600px) {
            #order {
                width: 360px !important;
            }

            .banner-container-row1 {}

            .banner-container-row1 img {
                width: 50px !important;
                height: 56px !important;
            }

            .banner-text-container {
                width: 100%;
            }

            .banner-text-container .title {
                margin: 20px 0 0 20px !important;
                font-size: 22px !important;
            }

            .banner-text-container .content {
                margin: 0 0 10px 20px !important;
                font-size: 15px !important;
                width: 110% !important;
            }

            .banner-container-row2 {
                height: 110px !important;
                margin: 0px 10px !important;
            }

            .banner-code-container {
                padding-top: 5px !important;
                float: none !important;
            }

            .banner-code-container p {
                font-size: 16px !important;
                text-align: center !important;
                margin-top: 5px !important;
                line-height: 25px !important;
            }

            .embedded {
                display: flex;
                flex-direction: row;
                justify-content: center;
                float: none !important;
                width: 100%;
            }

            .embedded-table {
                margin-top: -20px !important;
            }

            .embedded-button {
                display: inline-block !important;
                float: none !important;
                text-align: center !important;
            }

            .section {
                width: 100%;
            }

            .section-img {
                display: inline-block !important;
                float: none !important;
                margin: 10px auto !important;
            }
        }
    </style>
</head>

<body style="background-color: #F5F5F5;">
    <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" bgcolor="#F5F5F5"
        style="padding: 0 10px;">

        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td align="center">
                <table border="0" cellpadding="0" cellspacing="0" align="center" width="600px" bgcolor="#FFFFFF"
                    id="order" style="font-family:Arial, sans-serif;">
                    <tr>
                        <td align="center">
                            <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%">
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr align="center">
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%">
                                            <tr>
                                                <td width="40"></td>
                                                <td>
                                                    <img src="https://www.easychef.xyz/assets/logo-ac853275e0b71f9a3f081325dda06759af6f04b9cd5053555b1e95ad5b125d79.png"
                                                        alt="" height="40px" width="72px">
                                                </td>
                                                <td width="40"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="60"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%">
                                            <tr>
                                                <td width="40"></td>
                                                <td>
                                                    <table border="0" cellpadding="0" cellspacing="0" align="center"
                                                        width="100%">

                                                        <tr>
                                                            <td>
                                                                <p
                                                                    style="color: #303336; line-height: 1.2; letter-spacing: -0.5; font-size: 40px; font-weight: bold;">
                                                                    Hola gaspar
                                                                </p>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td height="20"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <br>
                                                                <p
                                                                    style="color: #303336; line-height: 1.8; letter-spacing: -0.5; font-size: 18px;">

                                                                    Gracias por tu pedido de
                                                                    Wok Power.

                                                                </p>

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="20"></td>
                                                        </tr>

                                                        <tr>
                                                            <td height="20"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width="40"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%">


                                            <!-- RESUMEN  -->
                                            <tr>
                                                <td width="40"></td>
                                                <td>
                                                    <table style="border: 1px solid #e6ebf1" cellpadding="0"
                                                        cellspacing="0" align="center" width="100%">
                                                        <tr>
                                                            <td style="padding: 15px;">
                                                                <p
                                                                    style="color: #303336; line-height: 1.8; letter-spacing: -0.5; padding: 0 0 10px 0; font-size: 14px; font-weight:600">
                                                                    TOTAL</p>
                                                                <p
                                                                    style="color: #303336; line-height: 1.8; letter-spacing: -0.5; font-size: 30px; font-weight: bold;">
                                                                    $365,00</p>
                                                                <p
                                                                    style="color: #6b6f72; line-height: 1.8; letter-spacing: -0.5; font-size: 14px;">
                                                                    Metodo
                                                                    de pago: Efectivo</p>
                                                                <p
                                                                    style="display: none; color: #6b6f72; line-height: 1.8; letter-spacing: -0.5; font-size: 14px;">
                                                                    Easy
                                                                    creditos:
                                                                    $0,00</p>
                                                                <p
                                                                    style="display: none; color: #6b6f72; line-height: 1.8; letter-spacing: -0.5; font-size: 14px;">
                                                                    EasyPay:
                                                                    $0,00</p>
                                                                <p
                                                                    style="display: none; color: #6b6f72; line-height: 1.8; letter-spacing: -0.5; font-size: 14px;">
                                                                    Removidos:
                                                                    0</p>
                                                                <p
                                                                    style="display: none; color: #6b6f72; line-height: 1.8; letter-spacing: -0.5; font-size: 14px;">
                                                                    Sustituidos:
                                                                    0</p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width="40"></td>
                                            </tr>
                                            <!-- FIN RESUMEN  -->

                                            <!-- ENTREGADO POR -->
                                            <tr style="display:;">
                                                <td height="20"></td>
                                            </tr>
                                            <tr style="display:;">
                                                <td width="40"></td>
                                                <td>
                                                    <table style="border: 1px solid #e6ebf1" cellpadding="0"
                                                        cellspacing="0" align="center" width="100%">
                                                        <tr>
                                                            <td style="padding: 15px;">
                                                                <p
                                                                    style="color: #6b6f72; line-height: 0.5; letter-spacing: -0.5; padding: 0 0 10px 0; font-size: 14px;">
                                                                    TU
                                                                    RAPPI</p>
                                                                <p
                                                                    style="color: #303336; line-height: 1.8; letter-spacing: -0.5; font-size: 22px; font-weight: bold;">
                                                                    Mariana Sosa</p><span
                                                                    style="display:;">
                                                                    <p
                                                                        style="color: #6b6f72; line-height: 1.8; letter-spacing: -0.5; font-size: 14px;">
                                                                        Entrega
                                                                        tu pedido en
                                                                        Motocicleta</p>
                                                                </span>

                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width="40"></td>
                                            </tr>
                                            <!-- FIN ENTREGADO POR -->

                                            <!-- ENTREGADO POR MARKETPLACE-->
                                            <tr style="display:none;">
                                                <td height="20"></td>
                                            </tr>
                                            <tr style="display:none;">
                                                <td width="40"></td>
                                                <td>
                                                    <table style="border: 1px solid #e6ebf1" cellpadding="0"
                                                        cellspacing="0" align="center" width="100%">
                                                        <tr>
                                                            <td style="padding: 15px;">
                                                                <p
                                                                    style="color: #6b6f72; line-height: 0.5; letter-spacing: -0.5; padding: 0 0 10px 0; font-size: 14px;">
                                                                    ENTREGADO
                                                                    POR:</p>
                                                                <p
                                                                    style="color: #303336; line-height: 1.8; letter-spacing: -0.5; font-size: 22px; font-weight: bold;">
                                                                    </p>
                                                                <p
                                                                    style="color: #6b6f72; line-height: 1.8; letter-spacing: -0.5; font-size: 14px;">
                                                                    Tel:
                                                                    +(54)
                                                                    541148214933</p>

                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width="40"></td>
                                            </tr>
                                            <!-- FIN ENTREGADO POR MARKETPLACE-->

                                            <!-- MAPA -->
                                            <tr style="display:;">
                                                <td height="20"></td>
                                            </tr>
                                            <tr style="display:;">
                                                <td width="40"></td>
                                                <td>
                                                    <table style="border: 1px solid #e6ebf1;" cellpadding="0"
                                                        cellspacing="0" align="center" width="100%">

                                                        <tr>
                                                            <td style="padding: 10px;" width="35px"><img width="22px"
                                                                    src="https://img.rappi.com/web/mailing-order/route.png"
                                                                    alt=""></td>
                                                            <td>
                                                            <td>
                                                                <p
                                                                    style="color: #6b6f72; line-height: 1.8; letter-spacing: -0.5; font-size: 14px;">
                                                                    2:05:40 pm
                                                                    <br />
                                                                    <span
                                                                        style="color: #303336;">Azcuenaga 1150</span>
                                                                </p>
                                                                <br>
                                                                <p
                                                                    style="color: #6b6f72; line-height: 1.8; letter-spacing: -0.5; font-size: 14px;">
                                                                    2:20:06 pm
                                                                    <br />
                                                                    <span
                                                                        style="color: #303336;">Av Cnel Niceto Vega 4866 </span>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width="40"></td>
                                            </tr>
                                            <!-- FIN MAPA -->

                                            <!-- PRODUCTOS -->
                                            <tr style="display: ">
                                                <td height="20"></td>
                                            </tr>
                                            <tr style="display:">
                                                <td width="40"></td>
                                                <td>
                                                    <table style="border: 1px solid #e6ebf1" cellpadding="0"
                                                        cellspacing="0" align="center" width="100%">
                                                        <tr>
                                                            <td style="padding: 15px;">
                                                                <p
                                                                    style="color: #303336; line-height: 1.8; letter-spacing: -0.5; padding: 0 0 10px 0; font-size: 14px; font-weight:600">
                                                                    RESUMEN
                                                                    DE PRODUCTOS</p>
                                                                <table width="100%">


                                                                    <tr>
                                                                        <td width="50">
                                                                            <img height="60px"
                                                                                src="https://images.rappi.com.ar/products/427247-1557519644.png?d=100x100" alt=""
                                                                                style="display:block; height:auto; max-height:70px; margin-left: auto; margin-right: auto; max-width: 100%;">
                                                                        </td>
                                                                        <td width="10px"></td>
                                                                        <td>
                                                                            <p
                                                                                style="color: #303336; line-height: 1.5; letter-spacing: -0.5; font-size: 14px; text-decoration: ">
                                                                                Combo Uno</p>
                                                                            <p
                                                                                style="color: #6b6f72; line-height: 1.5; letter-spacing: -0.5; font-size: 14px;">
                                                                                1
                                                                                unidad</p>
                                                                            <p
                                                                                style="display:none; color: #6b6f72; line-height: 1.5; letter-spacing: -0.5; font-size: 14px; ">
                                                                                Antes
                                                                                <span
                                                                                    style="text-decoration:line-through;">$350,00</span>
                                                                            </p>
                                                                            <p
                                                                                style="display:none; color: #ff7175; width: 90px; font-size: 12px; letter-spacing: -0.5; padding: 5px 10px; text-align: center; background-color: #fff0f1; border-radius: 2px;">
                                                                                Eliminado</p>
                                                                            <p
                                                                                style="display:none; color: #15b597; width: 70px; font-size: 12px; padding: 5px 10px; letter-spacing: -0.5;text-align: center; background-color: #e7f7f4; border-radius: 2px;">
                                                                                Nuevo</p>
                                                                        </td>
                                                                        <td align="right">
                                                                            <p
                                                                                style="color: #303336; line-height: 1.5; letter-spacing: -0.5; font-size: 14px;">
                                                                                $350,00</p>
                                                                            <p
                                                                                style="color: #9fa2a2; line-height: 1.5; letter-spacing: -0.5; font-size: 14px;">
                                                                                $350,00 c/u
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr style="height:12px">
                                                                        <td></td>
                                                                    </tr>



                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width="40"></td>
                                            </tr>
                                            <!-- FIN PRODUCTOS -->

                                            <!--COBROS -->
                                            <tr style="display: ">
                                                <td height="20"></td>
                                            </tr>
                                            <tr style="display: ">
                                                <td width="40"></td>
                                                <td>
                                                    <table style="border: 1px solid #e6ebf1" cellpadding="0"
                                                        cellspacing="0" align="center" width="100%">
                                                        <tr>
                                                            <td style="padding: 15px;">
                                                                <p
                                                                    style="color: #303336; line-height: 1.8; letter-spacing: -0.5; padding: 0 0 10px 0; font-size: 14px; font-weight:600">
                                                                    COSTOS</p>
                                                                <table width="100%">


                                                                    <tr
                                                                        style="display: ">
                                                                        <td>
                                                                            <p
                                                                                style="color: #6b6f72; line-height: 1.8; letter-spacing: -0.5; font-size: 14px;">
                                                                                Subtotal
                                                                                productos</p>
                                                                        </td>
                                                                        <td align="right">
                                                                            <p
                                                                                style="color: #6b6f72; line-height: 1.8; letter-spacing: -0.5; font-size: 14px;">
                                                                                $350,00
                                                                            </p>
                                                                        </td>
                                                                    </tr>


                                                                    <tr style="display: ">
                                                                        <td>
                                                                            <p
                                                                                style="color: #6b6f72; line-height: 1.8; letter-spacing: -0.5; font-size: 14px;">
                                                                                Propina</p>
                                                                        </td>
                                                                        <td align="right">
                                                                            <p
                                                                                style="color: #6b6f72; line-height: 1.8; letter-spacing: -0.5; font-size: 14px;">
                                                                                $15,00</p>
                                                                        </td>
                                                                    </tr>


                                                                    <tr style="display: ">
                                                                        <td>
                                                                            <p
                                                                                style="color: #6b6f72; line-height: 1.8; letter-spacing: -0.5; font-size: 14px;">
                                                                                Costo de envio </p>
                                                                        </td>
                                                                        <td align="right">
                                                                            <p
                                                                                style="color: #0B60C4; line-height: 1.8; letter-spacing: -0.5; font-size: 14px;">
                                                                                $60,00</p>
                                                                        </td>
                                                                    </tr>

                                                                    <tr
                                                                        style="display: none">
                                                                        <td>
                                                                            <p
                                                                                style="color: #6b6f72; line-height: 1.8; letter-spacing: -0.5; font-size: 14px;">
                                                                                Ajuste por diferencia de precios</p>
                                                                        </td>
                                                                        <td align="right">
                                                                            <p
                                                                                style="color: #6b6f72; line-height: 1.8; letter-spacing: -0.5; font-size: 14px;">
                                                                                $0,00</p>
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td colspan="2">
                                                                            <hr style="border-top: 1.5px solid #e6ebf1">
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td>
                                                                            <p
                                                                                style="color: #303336; line-height: 1.8; letter-spacing: -0.5; font-size: 14px; font-weight: 600;">
                                                                                Total
                                                                                costos</p>
                                                                        </td>
                                                                        <td align="right">
                                                                            <p
                                                                                style="color: #303336; line-height: 1.8; letter-spacing: -0.5; font-size: 14px; font-weight: 600;">
                                                                                $425,00
                                                                            </p>
                                                                        </td>
                                                                    </tr>

                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width="40"></td>
                                            </tr>
                                            <!-- END COBROS -->

                                            <!-- DESCUENTOS -->
                                            <tr style="display: ">
                                                <td height="25"></td>
                                            </tr>
                                            <tr style="display: ">
                                                <td width="40"></td>
                                                <td>
                                                    <table style="border: 1px solid #e6ebf1" cellpadding="0"
                                                        cellspacing="0" align="center" width="100%">
                                                        <tr>
                                                            <td style="padding: 15px;">
                                                                <p
                                                                    style="color: #303336; line-height: 1.8; letter-spacing: -0.5; padding: 0 0 10px 0; font-size: 14px; font-weight:600">
                                                                    DESCUENTOS</p>
                                                                <table width="100%">


                                                                    <tr
                                                                        style="display: none">
                                                                        <td>
                                                                            <p
                                                                                style="color: #6b6f72; line-height: 1.8; letter-spacing: -0.5; font-size: 14px;">
                                                                                Easy
                                                                                Pay</p>
                                                                        </td>
                                                                        <td align="right">
                                                                            <p
                                                                                style="color: #ff7175; line-height: 1.8; letter-spacing: -0.5; font-size: 14px;">
                                                                                $0,00</p>
                                                                    </tr>

                                                                    <tr
                                                                        style="display: none">
                                                                        <td>
                                                                            <p
                                                                                style="color: #6b6f72; line-height: 1.8; letter-spacing: -0.5; font-size: 14px;">
                                                                                Easy creditos</p>
                                                                        </td>
                                                                        <td align="right">
                                                                            <p
                                                                                style="color: #ff7175; line-height: 1.8; letter-spacing: -0.5; font-size: 14px;">
                                                                                $0,00</p>
                                                                        </td>
                                                                    </tr>


                                                                    <tr style="display: ">
                                                                        <td>
                                                                            <p
                                                                                style="color: #6b6f72; line-height: 1.8; letter-spacing: -0.5; font-size: 14px;">
                                                                                Oferta</p>
                                                                        </td>
                                                                        <td align="right">
                                                                            <p
                                                                                style="color: #0B60C4; line-height: 1.8; letter-spacing: -0.5; font-size: 14px;">
                                                                                $60,00</p>
                                                                        </td>
                                                                    </tr>

                                                                    <tr
                                                                        style="display: none">
                                                                        <td>
                                                                            <p
                                                                                style="color: #6b6f72; line-height: 1.8; letter-spacing: -0.5; font-size: 14px;">
                                                                                Descuento por "Mismo precio Garantizado"
                                                                            </p>
                                                                        </td>
                                                                        <td align="right">
                                                                            <p
                                                                                style="color: #ff7175; line-height: 1.8; letter-spacing: -0.5; font-size: 14px;">
                                                                                $0,00</p>
                                                                        </td>
                                                                    </tr>


                                                                    <tr>
                                                                        <td colspan="2">
                                                                            <hr style="border-top: 1.5px solid #e6ebf1">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <p
                                                                                style="color: #303336; line-height: 1.8; letter-spacing: -0.5; font-size: 14px; font-weight: 600;">
                                                                                Total
                                                                                descuentos</p>
                                                                        </td>
                                                                        <td align="right">
                                                                            <p
                                                                                style="color: #0B60C4; line-height: 1.8; letter-spacing: -0.5; font-size: 14px; font-weight: 600;">
                                                                                $60,00</p>
                                                                        </td>
                                                                    </tr>

                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width="40"></td>
                                            </tr>
                                            <!-- END DESCUENTOS -->

                                            <tr>
                                                <td height="25"></td>
                                            </tr>

                                            <!-- TOTAL PAGADO -->
                                            <tr>
                                                <td width="40"></td>
                                                <td>
                                                    <table style="border: 1px solid #e6ebf1" cellpadding="0"
                                                        cellspacing="0" align="center" width="100%">
                                                        <tr>
                                                            <td style="padding: 15px;">

                                                                <table width="100%">

                                                                    <tr>
                                                                        <td>
                                                                            <p
                                                                                style="color: #303336; line-height: 1.8; letter-spacing: -0.5; padding: 0 0 10px 0; font-size: 14px; font-weight:600">
                                                                                Total
                                                                                pagado con
                                                                                Efectivo</p>
                                                                        </td>
                                                                        <td align="right">
                                                                            <p
                                                                                style="color: #303336; line-height: 1.8; letter-spacing: -0.5; font-size: 16px; font-weight:600">
                                                                                $365,00
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="2">
                                                                            <hr style="border-top: 1.5px solid #e6ebf1">
                                                                        </td>
                                                                    </tr>


                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width="40"></td>
                                            </tr>
                                            <!-- END TOTAL PAGADO -->

                                            <!-- TRANSACCIONES -->
                                            <tr
                                                style="display:none">
                                                <td height="25"></td>
                                            </tr>
                                            <tr
                                                style="display:none">
                                                <td width="40"></td>
                                                <td>
                                                    <table style="border: 1px solid #e6ebf1;" width="100%"
                                                        cellspacing="0" cellpadding="0" align="center">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 15px;">
                                                                    <table width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <p
                                                                                        style="color: #303336; line-height: 1.8; letter-spacing: -0.5; padding: 0 0 10px 0; font-size: 14px; font-weight:600">
                                                                                        DETALLE DE TRANSACCIONES</p>
                                                                                </td>
                                                                                <td height="35"></td>

                                                                            </tr>






                                                                            <tr>
                                                                                <td colspan="2">
                                                                                    <hr
                                                                                        style="border-top: 1.5px solid #e6ebf1;" />
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <p
                                                                                        style="color: #303336; line-height: 1.8; letter-spacing: -0.5; font-size: 14px; font-weight: 600;">
                                                                                        CARGO
                                                                                        NETO</p>
                                                                                </td>
                                                                                <td align="right">
                                                                                    <p
                                                                                        style="color: #303336; line-height: 1.8; letter-spacing: -0.5; font-size: 14px; font-weight: 600;">
                                                                                        0
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td width="40"></td>
                                            </tr>
                                            <!-- END TRANSACCIONES -->

                                            <tr>
                                                <td height="5"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr style="display:none; ">
                                    <td height="25"></td>
                                </tr>
                                <tr style="display:none; ">
                                    <td>
                                        <table class="mobile-table" border="0" cellpadding="0" cellspacing="0"
                                            align="center" width="100%">
                                            <tr>
                                                <td width="40"></td>
                                                <td align="center">
                                                    <div class="banner-container"
                                                        style="height: 280px; border-radius: 10px; background-image: linear-gradient(to bottom, #1c5fa0, #224596); background-color: #1c5fa0;">
                                                        <div class="banner-container-row1"
                                                            style="display: flex; flex-direction: row;">
                                                            <div class="banner-text-container"
                                                                style="color: #fff">
                                                                <p class="title"
                                                                    style="height: 41px; margin: 5% 1.5% 0 7%; font-size: 24px; font-weight: 100; font-family: sans-serif; font-style: normal;font-stretch: normal;line-height: 1.37;letter-spacing: -0.5px; text-align: left">
                                                                    Gana
                                                                    <strong>$1,50</strong>!
                                                                </p>
                                                                <p class="content"
                                                                    style="height: 83px; margin: 4% 4% 4% 7%; font-size: 17px; font-weight: 100; text-align: left; font-stretch: normal; line-height: 1.25; letter-spacing: normal;">
                                                                    Recibe $1,50 por cada amigo que haga su primer pedido con tu codigo y regalales $1.500 ARS en costos de envio.
                                                                </p>
                                                            </div>

                                                            <img src="https://marketing-image-production.s3.amazonaws.com/uploads/7d4024b022f6507963547ce490c9d67e9639c51a1d7eab361e1197a3ff6327dde5cf43b4f044ee80734df67bf1ebe83e104af9a9e238c78607c4d614a1d0323c.png"
                                                                style="width: 99px; height: 126px; position: relative;" />
                                                        </div>
                                                        <div class="banner-container-row2"
                                                            style="width: 90%; height: 83px; border-radius: 20px; background-color: #fff; margin: 0px 10px 0px 10px; line-height: 83px;">
                                                            <div class="banner-code-container"
                                                                style="float: left; text-align: left; margin: 0px 0px 0px 10px; color: #43484d;">
                                                                <p
                                                                    style="font-size: 17px;height: 20px; font-weight: 200; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; margin-top: 15px; margin-bottom: 0">
                                                                    Comparte tu codigo y gana</p>
                                                                <p
                                                                    style="font-size: 24px; font-weight: bold; font-style: normal; font-stretch: normal; text-align: left; letter-spacing: normal; line-height: 0px; margin: 18px 0 0 0; padding: 0">
                                                                    phz41679496</p>
                                                            </div>
                                                            <div class="embedded"
                                                                style="display:none; float: right;">
                                                               <table class="embedded-table" align="center" width="100%" >
                                                                    <tr>
                                                                        <td align="center">
                                                                    <a href="http://link.support.rappimail.com/wf/click?upn=-2FZuvdVSbTBQ4H6F0ZLbavCnPbZfrknDxKx4YM7XJhPnKGmp-2FdsGShyFQEg8Hd7L1by2fxKb-2Bcgyq1TN4kLJPhpXMvQv1qovrdO0U7Jt2wnlQHNveow9N1c-2FwagVpePKOcebDbiUiLJxYiMGqwZ0QzM8b87uBz2pDXO6i16dLBC0XBczqHd71wb10wwLKFnrXSg21Dpyi-2F2-2BHZTRwKMbmr-2FbbvQovnAAqtr0YoWY4A-2BPJuQqhTm3gvk72YCckw9MRE2M-2FMd6OOsaGRB7MnUDEulSBSHO4bJ-2B4xdIlEJACqvoEP9ipl-2B9VArwpm6xL9vAELUpmw1bwo9h2cFtp1W1J4gKUZMqXTiavIBfOh-2FGWHef2vrMSfdgJiWdtfOZ3Sm0vokimhvoLHNmAtb2-2BNt-2B1PApql56ymjULn7FXajECNf5ZhtKHW-2Bv-2Bk7Y9A9hN8k_8-2F-2BIS3kVKuBxKLiUuOupDcr-2F19jmwrGYH-2BweVI4cvqDkJnnz-2FUFdB2jjr5YHhmJx8-2F2RY4GGbWH5APD0VGUKg-2B-2BLHbDRcb3UK2Vt3xj4oa1C03Ubtl8d7Py3riSbwzysjAQAmD9TAZ-2FhyCbPfXcmJrrKVoHop2LxprWprxD1smXxLEr88hxacgFN72ynWxEQRNG0FkshH5ZWPGXSEct4S5zJvJyTbONL-2BMYFXtz9aNXMMFWXMRl03ouQsvpN06-2F3lWyHlr2uPCwANuj0R3BKoFDpGrKqOFPdWorOcrgIoqiDfIufpGvurM5eQa8GeZ6oekt2yfK2NZkeA-2BbbPBIwDpVVtl58SHkeZXO3VkROHbSoRiw8aBDYuft3a0tAx9OnOph221JDVSK-2BL9HK4n22OTRq-2FKvxh-2FLn3AoaXZ-2BYkMQs-2FjbLB5RZbwZxgwERkb9F1MZpOhES2ajacYdc7c5w-2BlWCmK32BGhtV0ZCRPCxjdf1hVubcRKgTc7uD4JKvrWN-2BKwokwA4qxijxAq8X0vX2x03SJ8UXGDpGj8CLY9S0ncbHk6E0-2BzDUOFQJSBxT2ehXCupicQCNcrmSCuweJmQ--" target="_blank" style="text-decoration: none;">
                                                                      <p class="embedded-button"
                                                                        style="width: 140px; height: 40px; margin: 20px; background-color: #49BF5F; text-decoration: none; color: #fff; line-height: 40px; border-radius: 20px;">
                                                                        Compartir
                                                                      </p>
                                                                    </a>
                                                                     </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                            <div class="section"
                                                                style="display:flex; float: right">
                                                                <table align="center" width="100%">
                                                                    <tr>
                                                                        <td align="center">
                                                                            <a href="http://link.support.rappimail.com/wf/click?upn=-2FZuvdVSbTBQ4H6F0ZLbavCnPbZfrknDxKx4YM7XJhPnKGmp-2FdsGShyFQEg8Hd7L1by2fxKb-2Bcgyq1TN4kLJPhpXMvQv1qovrdO0U7Jt2wnlQHNveow9N1c-2FwagVpePKOcebDbiUiLJxYiMGqwZ0QzM8b87uBz2pDXO6i16dLBC0XBczqHd71wb10wwLKFnrXSg21Dpyi-2F2-2BHZTRwKMbmr-2FbbvQovnAAqtr0YoWY4A-2BPJuQqhTm3gvk72YCckw9MRE2M-2FMd6OOsaGRB7MnUDEulSBSHO4bJ-2B4xdIlEJACqvoEP9ipl-2B9VArwpm6xL9vAELUpmw1bwo9h2cFtp1W1J4gKUZMqXTiavIBfOh-2FGWHef2vrMSfdgJiWdtfOZ3Sm0vokimhvoLHNmAtb2-2BNt-2B1PApql56ymjULn7FXajECNf5ZhtKHW-2Bv-2Bk7Y9A9hN8k_8-2F-2BIS3kVKuBxKLiUuOupDcr-2F19jmwrGYH-2BweVI4cvqDkJnnz-2FUFdB2jjr5YHhmJx8-2F2RY4GGbWH5APD0VGUKg-2B-2BLHbDRcb3UK2Vt3xj4oa1C03Ubtl8d7Py3riSbwzysjAQAmD9TAZ-2FhyCbPfXcmJrrKVoHop2LxprWprxD1smXxLEr88hxacgFN72ynWxEQRNG0FkshH5ZWPGXSEct4S5zJvJyTbONL-2BMYFXtz9aNXMMFWXMRl03ouQsvpN06-2F3lWyHlr2uPCwANuj0R3BKoFDpGrKqOFPdWorOcrgIoqiDfIufpGvurM5eQa8GeZ6oekt2yfK2NZkeA-2BbbPBIwDpVVtl58SHkeZXO3VkROHbSoRiw8aBDYuft3a0tAx9OnOph221JDVSK-2BL9HK4n22OQY0K3O0EOBEwsJytx55WXifgtGeITJhyWBandC2XKuCBA8ZDI7tH7dXtBoDp4FHfSFk8TKj-2F8sWPWywQsC98xvfPD2zwH-2FyQFz-2Flys6Fhj75W6gEMCVyG-2FX3-2Fw-2Ffpga1VHz7rvQAB6m8ZcRrb70bP6yr-2BurVbRFGHa8Z6uvCNVQElaSO73SQOk1btNpcJpVEQ--"
                                                                                target="_blank">
                                                                                <img class="section-img"
                                                                                    style="margin: 20px"
                                                                                    src="https://marketing-image-production.s3.amazonaws.com/uploads/536278a749ceaca4db030028dcbc6df4b15e3cf539653292993bd92488b9f07b5322a0ca7423ea4a0b37b5154959937f1447d760c42bd2aeb02333b4eadc9791.png">
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </table>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td width="40"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>


                                <tr style="display:none; ">
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%">
                                            <tr>
                                                <td width="40"></td>
                                                <td>
                                                    <table border="0" cellpadding="0" cellspacing="0" align="center"
                                                        width="100%">



                                                        <tr>
                                                            <td height="20"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <br>
                                                                <p
                                                                    style="color: #303336; line-height: 1.8; letter-spacing: -0.5; font-size: 18px;">

                                                                    Si
                                                                    tuviste algun inconveniente comunicate con el
                                                                    Restaurante.

                                                                </p>

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="20"></td>
                                                        </tr>

                                                    </table>
                                                </td>
                                                <td width="10"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr style="display:none; ">
                                    <td align="center">
                                        <a href="tel:541148214933" target="_blank"
                                            style="color: #ffffff; font-size: 13px; padding: 15px 0px;text-decoration: none;display: block;text-align: center; width: 220px; background-color: #ff7174; border-radius: 50px; font-weight: bold; cursor: pointer;">
                                            LLAMAR AL RESTAURANTE</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%">
                                            <tr>
                                                <td width="40"></td>
                                                <td align="center">
                                                    <a href="http://link.support.rappimail.com/wf/click?upn=-2FZuvdVSbTBQ4H6F0ZLbavAQryztaU-2BzRncD4QkUpU21l00ZdhvF17v0F1DOcjFs2_8-2F-2BIS3kVKuBxKLiUuOupDcr-2F19jmwrGYH-2BweVI4cvqDkJnnz-2FUFdB2jjr5YHhmJx8-2F2RY4GGbWH5APD0VGUKg-2B-2BLHbDRcb3UK2Vt3xj4oa1C03Ubtl8d7Py3riSbwzysjAQAmD9TAZ-2FhyCbPfXcmJrrKVoHop2LxprWprxD1smXxLEr88hxacgFN72ynWxEQRNG0FkshH5ZWPGXSEct4S5zJvJyTbONL-2BMYFXtz9aNXMMFWXMRl03ouQsvpN06-2F3lWyHlr2uPCwANuj0R3BKoFDpGrKqOFPdWorOcrgIoqiDfIufpGvurM5eQa8GeZ6oekt2yfK2NZkeA-2BbbPBIwDpVVtl58SHkeZXO3VkROHbSoRiw8aBDYuft3a0tAx9OnOph221JDVSK-2BL9HK4n22OdjwmJjK-2BoV-2BCHv-2BuZGRWvjbkyWOIx6loLiWwG7ahvFl29Ekx4wgviPr-2FA8nkLdyhnxcTqBfgzggy8VmTaDLU6aJIk-2FzskyKJ-2BVJQbmIABdDtR8uijmZes-2B5sAZHuvtvbp8HrpPAEL0EdEF9tbylEdXKr1oJHfWfDvmBLXVILGxaRLSW8NaBHaX0kgV0wbylXQ--" target="_blank"
                                                        style="color: #ffffff; font-size: 13px; padding: 15px 0px;text-decoration: none;display: block;text-align: center; width: 220px; background-color: #0B60C4; border-radius: 50px; font-weight: bold; cursor: pointer;">PEDI TU PROXIMO KIT</a>
                                                </td>
                                                <td width="40"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="40"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table bgcolor="#0B60C4" border="0" cellpadding="0" cellspacing="0"
                                            align="center" width="100%">
                                            <tr>
                                                <td height="40"></td>
                                            </tr>
                                            <tr>
                                                <td width="40"></td>
                                                <td>
                                                    <p
                                                        style="color: #e6e6e6; font-size: 18px; letter-spacing: -0.5; font-weight: 300; margin-bottom: 5px">
                                                        Equipo
                                                        Easychef</p>
                                                </td>
                                                <td width="40"></td>
                                            </tr>
                                            <tr>
                                                <td height="20"></td>
                                            </tr>
                                            <tr>
                                                <td width="40"></td>
                                                <td>
                                                    <hr style="border: none;border-top: 1px solid #45474a;">
                                                </td>
                                                <td width="40"></td>
                                            </tr>
                                            <tr>
                                                <td height="20"></td>
                                            </tr>
                                            <tr>
                                                <td width="40"></td>
                                                <td style="color: #e6e6e6">

                                                    <p
                                                        style="display: none; font-size: 12px; line-height: 22px; font-weight: 200; margin-bottom: 5px">
                                                        Si tienes alguna duda o queja sobre tu pedido, llama al
                                                        restaurante al numero:
                                                        541148214933
                                                    </p>
                                                    <p
                                                        style="font-size: 12px; line-height: 22px; font-weight: 200; margin-bottom: 5px; display: ;">
                                                        Si tienes alguna duda o queja, estamos para ayudarte.
                                                        Contactanos a traves
                                                        de nuestro
                                                        <a href="#"
                                                            target="_blank"
                                                            style="text-decoration: none; color: #e6e6e6; font-weight: bold;">centro
                                                            de ayuda</a>
                                                    </p>
                                                </td>
                                                <td width="40"></td>
                                            </tr>
                                            <tr>
                                                <td height="40"></td>
                                            </tr>
                                            <tr>
                                                <td width="40"></td>
                                                <td>
                                                    <table>
                                                        <tr>
                                                            <td align="center">
                                                                <a href="#"
                                                                    target="_blank"
                                                                    style="width: 22px; height: 22px; margin: 0 25px 0 0; display: inline-table;">
                                                                    <img src="https://img.rappi.com/web/mailing-order/fb-white.png"
                                                                        style="width: 22px; height: auto;"
                                                                        alt="Facebook">
                                                                </a>
                                                                <a href="#" target="_blank"
                                                                    style="width: 22px; height: 22px; margin: 0 25px 0 0; display: inline-table;">
                                                                    <img src="https://img.rappi.com/web/mailing-order/twitter-white.png"
                                                                        style="width: 22px; height: auto;"
                                                                        alt="Twitter">
                                                                </a>
                                                                <a href="#" target="_blank"
                                                                    style="width: 22px; height: 22px; margin: 0 25px 0 0; display: inline-table;">
                                                                    <img src="https://img.rappi.com/web/mailing-order/instagram-white.png"
                                                                        style="width: 22px; height: auto;"
                                                                        alt="Instagram">
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width="40"></td>
                                            </tr>
                                            <tr>
                                                <td width="40"></td>
                                                <td>
                                                    <p class="subscribe_footer"
                                                        style="color: white !important; font-size: 12px; letter-spacing: -0.5; font-weight: 300; margin-bottom: 5px">
                                                      <a href="#">Desuscribete</a>

                                                </td>
                                                <td width="20"></td>
                                            </tr>
                                            <tr>
                                                <td height="20"></td>
                                            </tr>


                                        </table>
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>

    </table>
</body>

</html>

<img src="#" alt="" width="1" height="1" border="0" style="height:1px !important;width:1px !important;border-width:0 !important;margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;padding-top:0 !important;padding-bottom:0 !important;padding-right:0 !important;padding-left:0 !important;"/>
</body>

</html>
