<div class="container-fluid">
  <h2>Card CAtegory</h2>
  <div class="row">
    <% (0..2).each do  %>
    <div class="col-md-4">
      <%= render("components/card-category", {category: "Category", img: ""}) %>
    </div>
    <% end %>
  </div>

  <h2>Card information</h2>
  <div class="row">
    <div class="col-md-4">
      <%= render("components/card-product") %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Buttons Pimary</h2>
        <a href="#" class="btn btn-primary">Boton</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Buttons Pimary Pedi Kit</h2>
        <a href="#" class="btn btn-primary w-100">
          <div class="d-flex justify-content-between align-items-center ">
           <div class="text-left"><small>Precio Final</small><br><strong>$223</strong></div>
           <div><strong>Pedi el Kit</strong></div>
          </div>
        </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Buttons light</h2>
        <a href="#" class="btn btn-outline-light">Boton</a>
    </div>
  </div>

  <h2>Card Kit</h2>
  <div class="row">
    <% (0..2).each do  %>
    <div class="col-md-4">
      <%= render("components/card-kit") %>
    </div>
    <% end %>
  </div>
</div>
