<div class="jumbotron jumbotron-fluid text-center " style="background-image: url(<%= image_url('bghome.jpg') %>); background-size: auto; background-position: top;">
  <div class="container-fluid">
    <div class="py-2">
      <%= image_tag( 'easychef_logo.png' , class:"mb-5")%>
      <p class="lead px-3 text-primary">La comida de tus restaurantes favoritos en tu cocina.</p>
    </div>
    <div class="form-container">
      <form class="form-inline">
        <div class="form-group w-sm-100">
          <select class="form-control form-control-lg text-secondary" name="" id="" >
            <option value="">Elegí tu cuidad</option>
            <option value="">CABA</option>
            <option value="">Cordoba</option>
            <option value="">Pilar</option>
          </select>
        </div>
        <div class="form-group w-sm-100">
          <input type="text" class="form-control form-control-lg text-secondary rounded" placeholder="Ingresá tu dirección">
        </div>
        <button type="submit" class="btn btn-primary btn-lg px-3 rounded w-sm-100">Buscar</button>
        <button type="submit" class="btn btn- btn-block py-3 text-white border-white rounded d-flex justify-content-between align-items-center" >

          <i class="fas fa-location-arrow "></i>Buscar por Ubicación <i class="fas fa-location"></i>

        </button>
      </form>
    </div>

  </div>
</div>

<div class="container">
  <h4 class="my-5 font-weight-bold">¿Que hay en nuestro menú?</h4>
  <div class="d-flex bd-highlight home-card">
    <div class="card-category flex-grow-1 bd-highlight" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Comida tradicional
    </div>
    <div class="card-category bd-highlight ml-3 p-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Sabroso pero economico
    </div>
  </div>
  <div class="d-flex bd-highlight home-card">
    <div class="card-category bd-highlight mr-3 p-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Para compartir
    </div>
    <div class="card-category flex-grow-1 bd-highlight" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Recomendaciones locales
    </div>
  </div>

  <div class="d-flex bd-highlight home-card">
    <div class="card-category flex-grow-1 bd-highlight" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Cocina saludable
    </div>
    <div class="card-category bd-highlight ml-3 p-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Exclusivo Easychef
    </div>
  </div>

</div>

