
<div class="container mx-auto text-left">
  <div class="d-flex justify-content-around w-80">
    <img src="https://i.imgur.com/EC739GR.png" alt="" style="height: 100%; width: 100%" class="col-md-6">
    <div class="col-md-6 align-items-center">
      <h3 class="font-weight-bold">Elegí tus platos</h3>
      <p class="card-text mt-3">Our chef-designed recipes include balanced Mediterranean meals, quick one-pan dinners, and top-rated customer favorites.</p>
    </div>
  </div>

  <div class="d-flex justify-content-around w-80">
    <div>
      <h3 class="font-weight-bold">Unpack your box</h3>
      <p>We guarantee the freshness of all our ingredients and deliver them in an insulated box right to your door.</p>
    </div>
    <img src="https://i.imgur.com/jfiffVc.png" alt="" style="height: 100%; width: 100%" class="col-md-6">
  </div>

  <div class="d-flex justify-content-around w-80">
    <img src="https://i.imgur.com/nlEMOkN.png" alt="" style="height: 376px; width: 237px" class="col-md-6">
    <div>
      <h3 class="font-weight-bold">Create magic</h3>
      <p>Following our step-by-step instructions you’ll experience the magic of cooking recipes that our chefs create with your family’s tastes in mind.</p>
    </div>
  </div>
</div>


<div class="container mx-auto px-3 py-5">
  <div class="container text-center">
    <div class="d-flex justify-content-between">
      <div class="px-5">
        <img src="" alt="">
        <h4 class="font-weight-bold" style="font-size: 20px">Delicious, chef-designed recipes</h4>
        <p style="font-size: 18px">With step-by-step instructions so you never miss a beat (or beet)</p>
      </div>

      <div>
        <img src="" alt="">
        <h4 class="font-weight-bold" style="font-size: 20px">Responsibly-sourced, quality ingredients</h4>
        <p style="font-size: 18px">Like fresh produce, sustainable seafood and exclusive spice blends</p>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <div>
        <img src="" alt="">
        <h4 class="font-weight-bold" style="font-size: 20px">Perfectly-portioned amounts</h4>
        <p style="font-size: 18px">So no morsels or dollops go to waste</p>
      </div>

      <div class="">
        <img src="" alt="">
        <h4 class="font-weight-bold" style="font-size: 20px">Recyclable ice packs and packaging</h4>
        <p style="font-size: 18px">To ensure your ingredients stay fresh until you’re home and ready</p>
      </div>
    </div>
  </div>
</div>
