<h1>Wrong address</h1>
    <div class="h-75">
      <div
        id="map"
        class="position-sticky"
        style="width: 100%;
        height: 100vh; top: 0;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>
