<div class="container my-3 ">

  <div class="d-flex flex-column align-items-center">
    <img src="https://tuquejasuma.com/media/cache/4b/2d/4b2d4a2ad4e03c6f027e126522ecb201.png" alt="">

    <%= link_to(kits_path) do %>
    <button type="button" class="btn btn-primary">Volver a todos los kits</button>
    <% end %>
  </div>

</div>
