<div class="container">
  <div class="d-flex flex-column">
    <i class="far fa-check-circle" class="" style="font-size: 70px"></i>
    <p>Te notificamos cuando ti pedido este en camino</p>
    <h5>Código de pedido</h5>
    <h4>0849322</h4>
    <h5>Empezá a preparar tu cocina</h5>
    <div>
      <img src="" alt="Cookware" class="col-lg-6">
      <img src="" alt="Cookware" class="col-lg-6">
    </div>
  </div>
</div>
